{% extends 'base.html' %}

{% block title %}
ReleCloud - {{ destination }}
{% endblock %}

{% block content %}
<h1>{{ destination }}</h1>
<p>
{{ destination.description }}
</p>
<div class="col-md-4">
  {% if destination.image %}
    <img class="mr-3 img-fluid"
         src="{{ destination.image.url }}"
         alt="{{ destination.name }}" />
  {% else %}
    <img class="mr-3 img-fluid"
         src="/static/res/img/astronaut.jpeg"
         alt="Astronaut looking into space" />
  {% endif %}
</div>

<p>
    <a href="{% url 'destination_form' destination.id %}">[Edit this destination]</a>
</p>
<p>
    <a href="{% url 'destination_confirm_delete' destination.id %}">[Delete this destination]</a>
</p>
<p>You can explore {{ destination }} on the following cruises:</p>
<ul class="list-group">
    {% for cruise in destination.cruises.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'cruise_detail' cruise.id %}">{{ cruise }}</a>
    {% endfor %}
</ul>

<p>Average rating: {% if avg_rating %}{{ avg_rating|floatformat:1 }}/5{% else %}No ratings yet{% endif %}</p>

{% if user.is_authenticated and can_review %}
  <a href="{% url 'destination_review' destination.id %}">Write / Edit review</a>
{% elif user.is_authenticated %}
  <p><em>You must purchase a cruise that visits this destination to review it.</em></p>
{% else %}
  <p><a href="/accounts/login/">Login</a> to write a review.</p>
{% endif %}

<h3>Reviews</h3>
<ul>
  {% for r in reviews %}
    <li><strong>{{ r.user.username }}</strong> - {{ r.rating }}/5<br>{{ r.comment }}</li>
  {% empty %}
    <li>No reviews yet.</li>
  {% endfor %}
</ul>

{% endblock content %}